<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">

    <header class="wrapper">
        <h1>Edit User</h1>
    </header>

    <nav class="wrapper">
        <input title="back" id="back_button"/>
        <input title="save" id="save_button"/>
        <input title="remove" id="remove_button"/>
    </nav>

    <section class="wrapper">
        <span class="description">Name</span>
        <input title="name" id="name" class="input" type="text" />
    </section>

    <section class="wrapper">
        <span class="description">Age</span>
        <input title="age" id="age" class="input" type="text" />
    </section>

    <section class="wrapper">
        <span class="description">Sex</span>
        <select title="sex" id="sex" class="input">
            <option value=""></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </section>

    <section class="wrapper">
        <span id="message"></span>
    </section>

</div>
</body>
</html>