<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<input id="back" class="back_button" />
<h1>Edit User</h1>
<br>
<div>
    <br>
    <div class="wrapper">
        <span class="description">Name</span>
        <input id="name" class="input" type="text" />
    </div>
    <br>
    <div class="wrapper">
        <span class="description">Age</span>
        <input id="age" class="input" type="text" />
    </div>
    <br>
    <div class="wrapper">
        <span class="description">Sex</span>
        <select id="sex" class="input">
            <option></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
    <br>
    <div class="wrapper">
        <input id="save" class="save_button" />
        <input id="remove" class="remove_button"/>
    </div>
</div>
<!--Bind view implementation to layout -->
<script>
    $(document).ready(function () {
        new EditUserView();
    });
</script>
</body>
</html>