<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <h1>New User</h1>
    </div>
    <div class="wrapper">
        <input title="back" id="back-button" />
    </div>
    <div class="wrapper">
        <span class="description">Name</span>
        <input title="name" id="name" class="input" type="text" />
    </div>
    <br>
    <div class="wrapper">
        <span class="description">Age</span>
        <input title="age" type="number" id="age" class="input" min="0" max="100" />
    </div>
    <br>
    <div class="wrapper">
        <span class="description">Sex</span>
        <select title="sex" id="sex" class="input">
            <option></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
    <br>
    <div class="wrapper">
        <input title="save" id="save-button" />
    </div>
    <br>
    <div class="wrapper">
        <span id="message"></span>
    </div>
</div>
</body>
</html>