<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <h1>Users</h1>
    </div>
    <div class="wrapper">
        <input title="new" id="add_new_button"/>
    </div>
    <div class="wrapper">
        <div class="table" id="users_table">
            <div class="header">
                <div class="column">Name</div>
                <div class="column">Age</div>
                <div class="column">Sex</div>
            </div>
        </div>
    </div>
    <br>
    <div class="wrapper">
        <img src="" class="loading" id="loading_users" alt="Loading Users">
    </div>
</div>
</body>
</html>